<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Course</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="logado">User logged: {{ nome }}</p>
        <p v-else-if="anonimo">Navegando como anonimo</p>
        <p v-else>No user logged</p>
        <button @click="{logado = !logado}">{{ logado ? 'Sair' : 'Entrar' }}</button>
        <input type="checkbox" v-model="anonimo">
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
              nome: 'Luan',
              logado: false,
              anonimo: true,
            },
        })
    </script>
</body>

</html>